
@{
    ViewBag.Title = "Clarity HSA";
    ViewBag.CustomWrapperCSS = "style=padding:0;";
}

<!--div style="background:url('/Content/frontcover.jpg') #a8d2bc no-repeat; background-size:contain; background-position:center; height:calc(100vh - 52px);"></div-->
<div style="background:url('/Content/splash.png') #99bdaf no-repeat; background-size:contain; background-position:bottom; height:calc(100vh - 52px);">
    <!--img src="~/Content/bridging_the_gap_trans.png" style="position:absolute; bottom:22vh; left: 50vw; width:40vw;" />
    <img src="~/Content/ready_for_life_trans.png" style="position:absolute; top:0vh; left: 5vw; width:30vw;" />
    <div style="position:absolute; top:75vh; left:calc(50vw + 22px); right: 5vw; font-weight:bold;">
        Ready for Life HSA – A Solution that Bridges the Gap
        <br /><br />
        For employees, getting caught in the gap between their HSA and their deductible can be scary as well as financially harmful. Clarity Benefit Solutions has countered this problem with a benefits product that addresses this gap directly.  This product offers the benefits of a standard HSA plus the option of an interest-free payroll advance to cover unexpected medical expenses when workers haven’t reached their deductible and there isn’t enough money in their HSA. The advance is then be paid back automatically through payroll deductions.
    </div-->
</div>